<%= link_to "Make a New Gallery", new_gallery_path %> 

<ul>
  <% @galleries.each do |gallery| %>
    <img class="img2" <%= image_tag gallery.images.first.url %>
    <div class="gallery-wrap">
      <div class="gallery-list"><%= link_to gallery.name, gallery %></div>

    <% if gallery.user == current_user %>
      <%= link_to "Edit", edit_gallery_path(gallery) %>

      <%= form_for gallery, method: :delete do |form| %>
        <%= form.submit "Delete" %>
      <% end %>
  
    <% end %>
  </div>
  <br>
  <% end %>
</ul>
