<h1> Pixtr! </h1>

<a href="/galleries/new">Make a New Gallery</a>

<ul>
  <% @galleries.each do |gallery| %>
    <li>
      <%= link_to gallery.name, gallery %> - <%= gallery.description %>
      <%= link_to "Edit", edit_gallery_path(gallery) %>

      <%= form_for gallery, method: :delete do |form| %>
        <%= form.submit "Delete" %>
      <% end %>

    </li>
  <% end %>
</ul>
