<h2> This is a page for <%= @gallery.name %> </h2>

<%= link_to "Add an Image", new_gallery_image_path(@gallery) %>

<p><%= @gallery.description %></p>

<ul>
<% @gallery.images.each do |image| %> <%#no equals sign for .each %>
  <li>
  <div> <%= link_to image.name, gallery_image_path(@gallery, image) %> </div>
        <!-- this is where the DELETE will go -->
        
        <%= form_for image, method: :delete do |form| %>
          <%= form.submit "Delete Image" %>
        <% end %>
       
        <div> <%= image_tag image.url %> </div>
  </div>
  </li>
<% end %>
</ul>
