<h2><%= @gallery.name %> Gallery:</h2>

<% if @gallery.user == current_user %>
  <%= link_to "Add an Image", new_gallery_image_path(@gallery) %>
<% end %>

<ul>
<% @gallery.images.each do |image| %> <%#no equals sign for .each %>
  <div class="floaty">
    <div class="center"><%= link_to image.name, gallery_image_path(@gallery, image) %>
    <!-- this is where the DELETE will go -->
    <div><img class="img1" src="<%= image.url %>"</img></div>

    <% if @gallery.user == current_user %>
      <%= form_for [@gallery, image], method: :delete do |form| %>
        <%= form.submit "Delete" %>
      <% end %>
    <% end %>
  </div>

  </div>
</div>
<% end %>
</ul>
