<h2><%= @image.name %></h2>
<% if @gallery.user == current_user %>
  <%= link_to "Edit image", edit_gallery_image_path(@gallery, @image) %>

  <%= form_for [@gallery, @image], method: :delete do |form| %>
    <%= form.submit "Delete Image" %>
  <% end %>
<% end %>

<img class="img2" src="<%= @image.url %>" />
<div>
  <% if current_user.likes?(@image) %>
    <%= button_to "Unlike Image", image_like_path(@image), method: :delete %>
  <% else %>
    <%= button_to "Like Image", image_like_path(@image) %>
  <% end %>

  <u><%= @image.likes.count %> likes</u>
  <br>
  Who likes this photo?
  <br>
  <% @image.likes.each do |like| %>
    <% user_id = like.user_id %>
    <% user = User.find(user_id) %>
    <%= user.email %>
  <% end %>
  <p>
  <%= form_for [@image, @comment] do |form| %>
    <%= render "error_messages", target: @comment %>
    <div>
      <%= form.label :body, "Comment" %>
      <%= form.text_area :body %>
    </div>
    <%= form.submit %>
  <% end %>
  <br>

  Add this image to which group?
  <%= form_for @image do |form| %>
    <%= form.collection_check_boxes(:group_ids, Group.all, :id, :name) %>
    <%= form.submit %>
  <% end %>

  <br>



  <% @comments.each do |comment| %>
    <%= render "comments/comment", comment: comment %>
  <% end %>
</div>

