<h1><%= @image.name %></h1>
<%= image_tag @image.url %>

<div>
  <%= link_to "Edit image", edit_gallery_image_path(@gallery, @image) %>
 
  <%= form_for [@gallery, @image], method: :delete do |form| %>
    <%= form.submit "Delete" %>
  <% end %>

  <ul>
    <% @comments.each do |comment| %>
      <li><strong><%= comment.user.email %></strong> 
       says <em>"<%= comment.body %>"</em>
       (<%= time_ago_in_words(comment.created_at) %> ago)
      </li>
    <% end %>
  </ul>

  <%= form_for [@image, @comment] do |form| %>
    <%= render "error_messages", target: @comment %>
    <div>
      <%= form.label :body, "Comment" %>
      <%= form.text_area :body %>
    </div>

    <%= form.submit %>
  <% end %>

</div>


