<h2><%= @image.name %></h2>
<% if @gallery.user == current_user %>
  <%= link_to "Edit image", edit_gallery_image_path(@gallery, @image) %>

  <%= form_for [@gallery, @image], method: :delete do |form| %>
    <%= form.submit "Delete Image" %>
  <% end %>
<% end %>

<img class="img2" src="<%= @image.url %>" />

<div>
  <% if current_user.likes?(@image) %>
    <%= button_to "Unlike Image", image_like_path(@image), method: :delete %>
  <% else %>
    <%= button_to "Like Image", image_like_path(@image) %>
  <% end %>

  <ul>
    <% @comments.each do |comment| %>
      <%= render "comments/comment", comment: comment %>
    <% end %>
  </ul>

  <%= form_for [@image, @comment] do |form| %>
    <%= render "error_messages", target: @comment %>
    <div>
      <%= form.label :body, "Comment" %>
      <%= form.text_area :body %>
    </div>

    <%= form.submit %>
  <% end %>

</div>


